.postsLayout {
  padding-top: 20px;
}

.title {
  font-size: 2.5rem;
  font-weight: 700;
  min-height: 50px;
  margin: 15px 0 0;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--main-background-color);
  border-radius: var(--border-radius);
  border: 1px solid rgba(255, 255, 255, 0.125);
  box-shadow: 0 0 3px #f2f2f2;
}

.posts {
  padding: 0 0 15px;
}

.pages {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0 0 0;
}

.post {
  box-shadow: 0 0 3px #f2f2f2;
  min-height: 50px;
  margin: 15px 0;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--main-background-color);
  border-radius: var(--border-radius);
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: rotateZ(45deg) translate(-50%);
  perspective: 1000px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  color: #fff;
}
.loader:before,
.loader:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transform: rotateX(70deg);
  animation: 1s spin linear infinite;
}
.loader:after {
  color: #ff3d00;
  transform: rotateY(70deg);
  animation-delay: 0.4s;
}

.error-page {
  height: calc(100vh - 150px);
  display: grid;
  place-content: center;
}

.next-and-prev-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
}

.page-number {
  height: 35px;
  background-color: var(--main-background-color);
  border-radius: var(--border-radius);
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.125);
  box-shadow: 0 0 3px #f2f2f2;
  width: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-button,
.nextButton,
.prevButton {
  height: 35px;

  font-size: 10px;
  background-color: var(--main-background-color);
  border-radius: var(--border-radius);
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.125);
  box-shadow: 0 0 3px #f2f2f2;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.nextButton,
.prevButton {
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-button {
  margin: 15px 0 0;
  font-size: 1.5rem;
}

.error-button:hover,
.nextButton:hover,
.prevButton:hover {
  background-color: #f2f2f2;
  color: var(--main-background-color);
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  border: none;
  box-shadow: none;
}

@keyframes spin {
  0%,
  100% {
    box-shadow: 0.2em 0px 0 0px currentcolor;
  }
  12% {
    box-shadow: 0.2em 0.2em 0 0 currentcolor;
  }
  25% {
    box-shadow: 0 0.2em 0 0px currentcolor;
  }
  37% {
    box-shadow: -0.2em 0.2em 0 0 currentcolor;
  }
  50% {
    box-shadow: -0.2em 0 0 0 currentcolor;
  }
  62% {
    box-shadow: -0.2em -0.2em 0 0 currentcolor;
  }
  75% {
    box-shadow: 0px -0.2em 0 0 currentcolor;
  }
  87% {
    box-shadow: 0.2em -0.2em 0 0 currentcolor;
  }
}

/* media */
@media only screen and (max-width: 600px) {
  .title {
    font-size: 2rem;
  }
}

/* media */
@media only screen and (max-width: 600px) {
  .title {
    font-size: 2rem;
  }
}
