/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./app/posts/[postId]/post.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
.post_PostDetails__IwerC {
  margin: 10px 0;
  border-radius: var(--border-radius);
}

.post_PostDetails__IwerC p {
  margin: 10px 0;
  background-color: rgb(224, 159, 159);
  border-radius: var(--border-radius);
  overflow: scroll;
}

.post_PostDetails__IwerC p.post_title__ucN0S {
  padding: 10px;
  margin: 15px 0;
  background-color: var(--main-background-color);
  border-radius: var(--border-radius);
  border: 1px solid rgba(255, 255, 255, 0.125);
  box-shadow: 0 0 3px #f2f2f2;
  min-height: 70px;
  font-weight: 700;
}

.post_PostDetails__IwerC p.post_description__2Bjja {
  padding: 10px;
  margin: 15px 0;
  background-color: var(--main-background-color);
  border-radius: var(--border-radius);
  border: 1px solid rgba(255, 255, 255, 0.125);
  box-shadow: 0 0 3px #f2f2f2;
  min-height: 70px;
}

